@font-face {
    font-family: custom;
    src: url(font/CeraProMedium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: custom;
    font-weight: 400;
    font-style: normal;
    src: url(font/CeraProLight.otf);
}

@font-face {
    src: url(font/CeraProBold.otf);
    font-family: custom;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url(font/CeraProBlack.otf);
    font-family: custom;
    font-weight: 900;
    font-style: normal;
}
h1, h2, h3, h4, body{
    font-family: custom;
    font-weight: 400;
}